
.w3-quicksand {
    font-family: Cinzel, cursive;
  }

.w3-myDarkBlue,.w3-hover-myDarkBlue:hover {color:#fff!important; background-color:#2c7c94!important;}
.w3-myLightBlue,.w3-hover-myLightBlue:hover {color:#fff!important; background-color:#a6d0c8!important;}
.w3-myDarkYellow,.w3-hover-myDarkYellow:hover {color:#fff!important; background-color:#c4aa23!important;}
.w3-myLightYellow,.w3-hover-myLightYellow:hover {color:#fff!important; background-color:#fbe45b!important;}
.w3-myDarkRed,.w3-hover-myDarkRed:hover {color:#fff!important; background-color:#a65852!important;}
.w3-myDarkGreen,.w3-hover-myDarkGreen:hover {color:#fff!important; background-color:#343c24!important;}

.w3-text-myDarkBlue,.w3-hover-text-myDarkBlue:hover {color:#2c7c94!important}
.w3-text-myLightBlue,.w3-hover-text-myLightBlue:hover {color:#a6d0c8!important}
.w3-text-myDarkYellow,.w3-hover-text-myDarkYellow:hover {color:#c4aa23!important}
.w3-text-myLightYellow,.w3-hover-text-myLightYellow:hover {color:#fbe45b!important}
.w3-text-myDarkRed,.w3-hover-text-myDarkRed:hover {color:#a65852!important}
.w3-text-myDarkGreen,.w3-hover-text-myDarkGreen:hover {color:#343c24!important}

.w3-hover-greyscale-null:hover,.w3-hover-grayscale-null:hover{filter:grayscale(0%)}

ul.a {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li + li {
  margin-top: 10px;
}

a {
  color: myDarkRed;
  text-decoration: none;
}